body {
    margin: 0;
    max-width: 600px;
    margin: auto;
}

#header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    // background: #fff;
    z-index: 8888;
}

.header_logo {
    position: fixed;
    left: 14px;
    top: 20px;
    max-width: 160px;
}

.header_button {
    width: 83px;
    position: fixed;
    top: 17px;
    right: 60px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2rem;

    a {
        position: relative;
        left: -3px;

        &::before {
            content: '';
            width: 4px;
            height: 4px;
            border: 0px;
            border-top: solid 2px #fff;
            border-right: solid 2px #fff;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: -10px;
            margin-top: -3px;
        }
    }
}

/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
    position: fixed;
    right: 20px;
    top: 26px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 9999;
}

.hamburger__line {
    position: absolute;
    width: 24px;
    height: 1px;
    right: 0;
    background-color: #fff;
    transition: all 0.5s;
}

.hamburger__line--1 {
    top: 0px;
}

.hamburger__line--2 {
    top: 8px;
}

.hamburger__line--3 {
    top: 16px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
    background-color: #fff;
}

.open .hamburger__line--2 {
    opacity: 0;

}

.open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
    background-color: #fff;
}


/* 
  sp-nav(ナビ)
  =================================== */
.sp-nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    background-color: black;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;
    padding: 80px 10px 80px 24px;

    ul {
        li {
            margin: 16px auto;
            font-weight: 600;

            a {
                color: #fff;
            }
        }
    }
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
    right: 0;
}


/* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
    opacity: 0.3;
    visibility: visible;
}


.content_wrap {
    margin-top: 7rem;
}


.wrap {
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

.button_area {
    padding: 1rem 2rem 2rem;
    max-width: 500px;
    margin: auto;
}

#question {
    max-width: 500px;
    margin: auto;
    padding: 3rem 2rem 6rem;
}